/*left margin styling*/
.main .left {
  background: #1E2238;
  border-radius: 2rem;
  width: 20rem;
}

.main .right {
  justify-self: end;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left div {
  padding: 1rem;
  padding-right: 30px;
}

.left .addtion_info {
  align-self: center;
}

.left .addtion_info>ul {
  list-style: none;
  justify-self: center;
}

.left>hr {
  margin: 1rem;
}


